.main{
  display: flex;
}

.sidebarcontainer{
  width: 220px;
  background-color: #121317;
  color: #EFEFF0;
}

.component{
  flex: 1;
}

@media screen and (max-width:1000px){
  .sidebarcontainer{
    display: none;
  }
}