.main{
  display: flex;
  position: relative;
}

.sidebarcontainer{
  width: 220px;
  background-color: #121317;
  color: #EFEFF0;
}

.sidebarcontaineractive{
  width: 220px;
  background-color: #121317;
  color: #EFEFF0;
}

.component{
  flex: 1;
}


.burger{
  display: none;
}


@media screen and (max-width:1000px){
  .sidebarcontainer{
    position: absolute;
    transform: translate(-100%);
    z-index: 1;
    transition: transform 0.5s ease-in-out 0s
  }
  .sidebarcontaineractive{
    z-index: 1;
    position: absolute;
    transition: transform 0.5s ease-in-out 0s
  }
  .burger{
    display: block;
    background-color: #121317;
    position: absolute;
    top: 45px;
    right: 20px;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  
  .burger img{
    width: 30px;
  }
}