.sidebar{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
}


.title{
  font-size: 24px;
  font-family: "Roboto";
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainimg{
  width: 25px;
}

.sidebarlinks{
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebarlink{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: cursive;
  padding: 10px;
  text-align: center;
}

.sidebarlink img{
  width: 30px;
}

.sidebarlinktext{
  width: 100%;
  margin-left: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 999999999px;
}

.sidebarlinktext:hover{
  background-color: rgb(39, 39, 39);
}

.sidebarlinktextactive{
  width: 100%;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background:linear-gradient(to right, #015285, #299260);
  padding: 10px;
  border-radius: 999999999px;
}



.titletext{
  margin-left: 10px;
}


.close_img{
  width: 20px;
}

@media screen and (min-width:1000px){
  .close{
    display: none;
  }
}